<%if @login_ticket %>
  <div class="opacity-screen">
  </div>
<%else%>
  <div class="top-contents">
    <span>お知らせ</span>
    <% @posts.each do  |post| %>
      <div class="news-list"><%=link_to(post.title, "/post/show/#{post.id}") %></div>
    <%end%>
  </div>
  <%end%>
