<div class="host_form-contents">
 <h2>管理者メニュー</h2>
 
 <div class="host_form-form">
    <%if session[:host_id] %>
      <ul>
         <li><%= link_to("管理者の追加","/signup_host_form") %></li>
         <li><%= link_to("購入者の一覧", "/index") %></li>
         <li><%= link_to("ログアウト", "/host/logout_host", {method: 'post'}) %></li>
      </ul>
      <p>※退出する際は必ずログアウトしてください</p>
    <%else%>
    <ul>
     <li><%= link_to("管理者ログイン", "/login_host_form")%></li>
    </ul>

    <%end%>
 </div>
</div>