// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opacity-screen{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}
.top-contents{
  margin:10px 0 0 60px;
}