// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.opacity-screen{
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.top-contents{
  height:80vh;
  margin: 5px 55px 0px 55px ;
  border: 0.1px solid rgb(211, 205, 205);
  transition:1s;
  background-image: image-url('buying1.jpg');
  background-size:cover;
  background-position: center;
  border-radius: 4px;
  color: white;
}
.top-contents:hover{
  margin:6px 60px 0px 60px;
  border: 1.3px solid rgb(94, 93, 93);
  transition: .5s;
}

// post-show

.news-list{
  margin: 3% 10%;
  padding: 5px;
  // text-align: left;
}
.top-contents span{
  display: inline-block;
  margin: 15px;
  font-size: 20px;
  font-weight: bold;
  // border-bottom: 1px solid black;
}
.news-list a{
  color: white;
  border-bottom: .5px solid rgb(255, 255, 255);
}
@media (max-width: 500px){
  .top-contents{
    // height:100vh;
    // margin:6px 60px 0px 60px;
    margin: 0;
    // padding: 0;
    border: 0.1px solid rgb(211, 205, 205);
    transition:0s;
    border-radius: 1px;
    font-size: 10px;
    width: 100%;
  }
  .top-contents:hover{
    margin:6px 60px 0px 60px;
    border: 0.1px solid rgb(211, 205, 205);
    transition: 0s;
  }
  
  .news-list{
    margin: 1% 5%;
    padding: 5px;
    // text-align: left;
  }
  .top-contents span{
    display: inline-block;
    margin: 15px;
    font-size: 15px;
    font-weight: normal;
    // border-bottom: 1px solid black;
  }
  .news-list a{
    color: #fdfdfd;
    border-bottom: .5px solid rgb(172, 170, 170);}

}